<a href="https://colab.research.google.com/github/itayeylath/intro-to-DS-1/blob/main/Intro_to_DS_for_non_CS_Lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_var_a = 7
my_var_b = 3

my_sum = my_var_a + my_var_b
my_mul = my_var_a * my_var_b

print(my_sum)
print(my_mul)

10
21

In [ ]:
my_grades = [89, 95, 86, 95, 100, 89] # List of my grades
print(my_grades)

my_min_grade = min(my_grades)
my_max_grade = max(my_grades)
print("Min:", my_min_grade, " Max:", my_max_grade)

my_average_grade = round(sum(my_grades)/len(my_grades), 2)
print("My average is", my_average_grade)

[89, 95, 86, 95, 100, 89]
Min: 86  Max: 100
My average is 92.33

In [ ]:
visits = {"Q2": 8, "Q1": 15, "Q3": 14, "Q4": 12}
print(visits)

for v in visits:
  print(v, visits[v])

{'Q2': 8, 'Q1': 15, 'Q3': 14, 'Q4': 12}
Q2 8
Q1 15
Q3 14
Q4 12

In [ ]:
visits = {"Q2": 8, "Q1": 15, "Q3": 14, "Q4": 12}
print(visits)

for v in sorted(visits):
  print(v, visits[v])

{'Q2': 8, 'Q1': 15, 'Q3': 14, 'Q4': 12}
Q1 15
Q2 8
Q3 14
Q4 12

In [ ]:
visits = {"Q1": 15, "Q2": 8, "Q3": 14, "Q4": 12}
print(visits)

for v in sorted(visits, key=lambda x: visits[x], reverse=True):
  print(v, visits[v])

{'Q1': 15, 'Q2': 8, 'Q3': 14, 'Q4': 12}
Q1 15
Q3 14
Q4 12
Q2 8

In [ ]:
street = "4 Pennsylvania Plaza"
city = "New York"
country = "USA"

full_address = street + ", " + city + ", " + country
print(full_address)

4 Pennsylvania Plaza, New York, USA

In [ ]:
city = "New York"
stadium_name = "Madison Square Garden"
full_address = "4 Pennsylvania Plaza, New York, USA"

if city in full_address:
  print(stadium_name, "is in", city)
else:
  print(stadium_name, "is NOT in", city)

Madison Square Garden is in New York

In [ ]:
full_address = "4 Pennsylvania Plaza, New York, USA"

counter_a = 0
counter_N = 0
for ch in full_address:
  if ch == "a":
    counter_a = counter_a + 1
  if ch == "N":
    counter_N += 1

print("The letter 'a' appeared", counter_a, "times")
print("The letter 'N' appeared", counter_N, "times")

The letter 'a' appeared 4 times
The letter 'N' appeared 1 times